/* You can add global styles to this file, and also import other style files */
@import './shortcutCss.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables.scss';

html,
body {
  height: 100%;
  // width: 100%;
  // display: block !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 16px;
}

// div{
//   color: var(--darkest);
// }

body::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #FFFBFF, #f9eee3);
  // border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #F1DABF;
  // border-radius: 100px;
  background-image: var(--side-bar-bg);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  // border-radius: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  top: 100%;
  left: 50%;
  margin-left: -90px;
  margin-top: 5px;
  background-color: #000500;
  color: #fff;
  text-align: center;
  padding: 6px 15px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  visibility: hidden;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000500 transparent;
}

@media screen and (min-width: 769px) {
  // .element {
  //   /* Apply some styles */
  // }

  .side-bar-space {
    padding-left: 24vw !important;
  }
}

.mat-step-icon-content {
  display: none !important;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: inherit !important;
}

.mat-step-icon {
  background-color: var(--mat-step-icon-bg) !important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--mat-step-icon-bg) !important;
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
  background-color: transparent !important;
}

.mat-step-label {
  overflow: visible !important;
  white-space: wrap !important;
}
// .mat-step-label-selected {
//   font-size: 18px !important;
// }