<div class="education-container side-bar-space">
    <div class="my-education">My Education</div>
    <div class="one-education-card">
        I have completed <b>Bachelor of Engineering</b> in <b>Computer Science and Engineering</b> from <b>Nitte
            Meenakshi Institute of Technology (NMIT)</b>.
        <img class="nmit-img float-left" src="assets/images/nmit.jpeg" alt="NMIT" />
        I joined the course in <b>July 2016</b> and graduated in <b>August 2020</b>. Among the many outcomes of this
        course, the primary was the vast <b>Alumni Connect</b> which helped
        me to build a Strong Network with Professionals. It also helped me get a good level of responsibility through
        involvements. I developed good level of <b>Leadership</b> and <b>Communication Skill</b>.
        You can visit the website of my college at <a href="https://www.nmit.ac.in/">https://www.nmit.ac.in/</a> .
        Nitte Meenakshi Institute of Technology is an autonomous engineering college in Bangalore, Karnataka,
        India affiliated to the Visvesvaraya Technological University, Belagavi.
        <!-- <img class="nmit-img float-right" src="assets/images/vtu.jpg" alt="NMIT" /> -->
        <b>Visvesvaraya Technological University (VTU)</b>, previously spelled Visveswaraiah Technological University,
        is a collegiate public state university in Belagavi, Karnataka established by the Government of Karnataka.
    </div>
    <div class="one-education-card" style="margin-top: -40px;">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        I did my Intermediate from <b>Sri Chaitanya Techno School, Visakhapatnam</b>. I joined the school in
        <b>April2014</b> and
        passed out in <b>May 2016</b>. Sri Chaitanya Techno School is affiliated to <b>Central Board of
            SecondaryEducation (CBSE)</b>.</p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I did my Matriculation from
            <b>Mount Assisi School, Bhagalpur.</b> I passed out Mount Assisi School
            in <b>April 2014</b>. Mount Assisi School is a ICSE, ISC school which is affiliated by Council for Indian
            School Certificate Examinations (CISCE)
        
    </div>
</div>