.education-container {
    padding: 1vh;
    background-image: var(--education-bg);

    .one-education-card {
        padding: 20px;
        background-color: inherit;
        border-radius: 12px;
        font-size: 16px;
        line-height: 34px;
        text-align: justify;
        text-justify: inter-word;

        .nmit-img {
            width: 45%;
            padding: 10px 30px 20px 10px;
        }
    }
}