<div class="work-container side-bar-space">
    <div class="work-card">
        I am currently working as an <b>Application Development Analyst</b> in <b>Accenture</b> in <b>Bengaluru</b>
        since <b>Feb, 2021</b>.
        I have a total Work Experience of <b>{{calculateDiff()}}</b>
        My role in Accenture is that of a <b>Web Developer</b>. As a Web Developer, I develop integrated, complex,
        well-structured web apps in <b>Angular</b>. I also develop reusable compoents in <b>ReactJS</b>. My work includes
        responsibility of delivering Web Apps on time.
        Across Multiple Projects, I:
        <ul>
            <li> <b>Collaborate with multiple teams</b>, communicate
                and discuss technical topics with technical and
                business teams.</li>
            <li> <b>Implement Complex Design</b> requirements.</li>
            <li> Implement Data Visualization Techniques using
                different kind of <b>Charts</b>.
            </li>
            <li> <b>Ensure all interfaces function correctly</b> by testing use cases for all scenarios</li>
            <li> Oversee the Front-End development team.</li>
            <li> Represent the Front-End team and communicate
                with backend team for <b>data format</b> requirement.</li>
            <li> Identify bugs in the application and work in order to <b>resolve the issue</b></li>
            <li> Ensure smooth and fast algorithms in the code with <b>reduced Time and Space Complexity</b></li>
        </ul>
        Accenture is an Irish-American Professional Services Company based in Dublin, specializing in Information
        Technology (IT) Services and Consulting.
    </div>
</div>