<div class="contact-main ">
    <div class="align-items">
        <div class="center icon-container">
            <mat-icon class="linkedIn-img"> call</mat-icon>
        </div>
        <div class="value"> +91 9742753060</div>
    </div>
    <div class="align-items">
        <div class="center icon-container">
            <mat-icon class="linkedIn-img"> email</mat-icon>
        </div>
        <div class="value"> shwetabhsiddhant@gmail.com</div>
    </div>
    <div class="align-items">
        <div class="center icon-container">
            <img class="linkedIn-img" src="assets/images/linkedIn.svg">
        </div>
        <a class="value" href="https://www.linkedin.com/in/siddhantashwetabh/">https://www.linkedin.com/in/siddhantashwetabh/ </a>
    </div>
    <div class="align-items">
        <div class="center icon-container">
            <img class="linkedIn-img" src="assets/images/naukri.png">
        </div>
        <a class="value" href="https://www.naukri.com/mnjuser/profile?id=&altresid"> https://www.naukri.com/mnjuser/profile?id=&altresid </a>
    </div>
    <div class="align-items">
        <div class="center icon-container">
            <img class="linkedIn-img" src="assets/images/leetcode.svg">
        </div>
        <a class="value" href="https://leetcode.com/shwetabhsiddhant/"> https://leetcode.com/shwetabhsiddhant/ </a>
    </div>
</div>