<div class="skills-main side-bar-space">
    <div class="my-skills">
        My Skills
    </div>
    <div class="skills-container">
    <div class="one-skill">
        <div class="icon">

        </div>
        <div class="title"> Angular
        </div>

    </div>

    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> React
        </div>

    </div>

    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> HTML
        </div>

    </div>

    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> CSS
        </div>

    </div>

    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> TypeScript
        </div>

    </div>

    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> JavaScript
        </div>

    </div>
    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> ES6+
        </div>

    </div>
    <div class="one-skill">
        <div class="icon">
            
        </div>
        <div class="title"> Git
        </div>

    </div>
</div>
</div>