.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    min-height: 7vh;
    padding: 0% 2%;
    font-size: 20px;
}