<div class="intro-main">
    <div class="intro-text">
        <h2> Hi! I’m&nbsp;</h2>
        <h1> Siddhanta Shwetabh</h1>
    </div>
    <div class="intro-desc">
        I am a skilled web developer with expertise in HTML, CSS, and JavaScript, dedicated to create dynamic and responsive websites that enhance the user experience. My passion for clean design and attention to detail ensure that my clients receive the best possible solutions for their needs.
        <!-- Experienced web developer skilled in HTML, CSS, and JavaScript, passionate about creating user-friendly websites. -->
        <!-- A Skilled Web Developer with expertise in HTML, CSS, ,Typescript, JavaScript, ES7. With a passion for clean,
            user-friendly UI and a keen eye for detail, I specialize in creating dynamic and responsive websites that
            enhance user experience.I am dedicated to staying up-to-date with the latest technologies and
            trends in web development, ensuring that the clients receive the best possible solutions for their needs. -->
        
    </div>
</div>