<div class="intro-main side-bar-space">

    <div class="contact-main">
        <a class="icon-container" href="tel:+919742753060"  target="_blank" >
            <mat-icon class="linkedIn-img" style="color: rgb(0, 97, 0);"> call</mat-icon>
        </a>
        <a class="icon-container" href="mailto:shwetabhsiddhant@gmail.com"  target="_blank">
            <img class="linkedIn-img" src="assets/images/google.svg">
        </a>
        
        <a class="icon-container" href="https://api.whatsapp.com/send?phone=919742753060"  target="_blank">
            <img class="linkedIn-img" src="assets/images/whatsapp.svg" >
        </a>
        
        <!-- <a class="icon-container tooltip" >
            <img class="linkedIn-img" src="assets/images/facebook.svg">
            <div class="tooltiptext">
                Currently Unavailable
            </div>
        </a>
        <a class="icon-container" href="https://www.instagram.com/siddhantshwetabh/"  target="_blank">
            <img class="linkedIn-img" src="assets/images/instagram.svg">
        </a>
        <a class="icon-container" href="https://twitter.com/shwetabhsiddhan"  target="_blank">
            <img class="linkedIn-img" src="assets/images/twitter.svg">
        </a> -->
        <a class="icon-container" href="https://www.linkedin.com/in/siddhantashwetabh/"  target="_blank">
            <img class="linkedIn-img" src="assets/images/linkedIn.svg">
        </a>
        <a class="icon-container" href="https://leetcode.com/shwetabhsiddhant/"  target="_blank">
            <img class="linkedIn-img" src="assets/images/leetcode.svg">
        </a>
        <a class="icon-container" href="https://www.naukri.com/mnjuser/profile?id=&altresid" target="_blank">
            <img class="linkedIn-img" src="assets/images/naukri.png">
        </a>
    </div>
    <!-- <div class="written-container">
        Write to me at shwetabhsiddhant@gmail.com <br>
        Or message me at +91 974 275 3060
    </div> -->
    <div class="intro-text">
        <h2> Hi! I’m&nbsp;</h2>
        <h1> Siddhanta Shwetabh</h1>
    </div>
    <div class="intro-desc">
        I am a skilled web developer with expertise in HTML, CSS, and JavaScript, dedicated to create dynamic and
        responsive websites that enhance the user experience. My passion for clean design and attention to detail ensure
        that my clients receive the best possible solutions for their needs.
        <!-- Experienced web developer skilled in HTML, CSS, and JavaScript, passionate about creating user-friendly websites. -->
        <!-- A Skilled Web Developer with expertise in HTML, CSS, ,Typescript, JavaScript, ES7. With a passion for clean,
            user-friendly UI and a keen eye for detail, I specialize in creating dynamic and responsive websites that
            enhance user experience.I am dedicated to staying up-to-date with the latest technologies and
            trends in web development, ensuring that the clients receive the best possible solutions for their needs. -->

    </div>

</div>