<div class="interests-container side-bar-space">
    <div class="img-container singing">
        <div class="blur-container "></div>
        <div class="text-container">Singing</div>
    </div>
    <div class="img-container badminton">
        <div class="blur-container "></div>
        <div class="text-container">Badminton</div>
    </div>
    <div class="img-container football">
        <div class="blur-container "></div>
        <div class="text-container">Football</div>
    </div>
    <div class="img-container chess">
        <div class="blur-container "></div>
        <div class="text-container">Chess</div>
    </div>
</div>