.interests-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vh;
    padding: 6vh 2vh 6vh 2vh;
    background-image: var(--interest-bg);

    .img-container {
        // background-image: url('../../../../assets/images/dp.jpg');
        border-radius: 12px 12px 12px 12px;
        overflow: hidden;
        height: 42vh;
        // width: 38vw;
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
        display: block;
        // width: 100%;
        // height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        // overflow: hidden;
        

        .blur-container {
            left: -20%;
            background: black;
            right: 0;
            bottom: -10%;
            position: absolute;
            -moz-filter: blur(6px);
            -o-filter: blur(6px);
            -ms-filter: blur(6px);
            filter: blur(30px);
            height: 10vh;
            width: 140%;
        }

        .text-container {
            font-weight: 700;
            font-size: 24px;
            filter: blur(0px);
            color: white;
            position: absolute;
            bottom: 4vh;
            left: 4vh;
        }

        
    }
}
.singing{
    background-image: url('../../../../assets/images/sing.jpg');
}
.badminton{
    background-image: url('../../../../assets/images/badminton.jpg');
}
.football{
    background-image: url('../../../../assets/images/football.jpg');
}
.chess{
    background-image: url('../../../../assets/images/chess.jpg');
}

.img-container:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px 0 var(--one-project-border), 0 6px 20px 0 var(--one-project-border);
}