<div class="interests-container">
    <div class="img-container">
        <div class="blur-container"></div>
        <div class="text-container">Singing</div>
    </div>
    <div class="img-container">
        <div class="blur-container"></div>
        <div class="text-container">Badminton</div>
    </div>
    <div class="img-container">
        <div class="blur-container"></div>
        <div class="text-container">Football</div>
    </div>
    <div class="img-container">
        <div class="blur-container"></div>
        <div class="text-container">Chess</div>
    </div>
</div>